In [1]:
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV,train_test_split
from sklearn.metrics import mean_absolute_error,r2_score
from xgboost import XGBRegressor
import pickle

In [2]:
df=pd.read_csv("df_plain.csv")
df.head()

,Audi,BMW,Bentley,Chevrolet,Datsun,Fiat,Force,Ford,Honda,Hyundai,...,kms_driven,transmission,ownership,manufacture,engine,Seats,Cng,Diesel,Electric,Lpg
0,0,0,0,0,0,0,0,0,0,0,...,86226.0,0,1,6.0,1956.0,5,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,13248.0,1,1,2.0,1330.0,5,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,60343.0,1,1,7.0,2494.0,5,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,26696.0,1,1,5.0,1199.0,5,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,69414.0,0,1,7.0,1199.0,5,0,0,0,0

In [3]:
df.columns

Index(['Audi', 'BMW', 'Bentley', 'Chevrolet', 'Datsun', 'Fiat', 'Force',
       'Ford', 'Honda', 'Hyundai', 'Isuzu', 'Jaguar', 'Jeep', 'Kia', 'Land',
       'Lexus', 'MG', 'Mahindra', 'Maruti', 'Maserati', 'Mercedes-Benz',
       'Mini', 'Mitsubishi', 'Nissan', 'Porsche', 'Premier', 'Renault',
       'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'car_prices_in_rupee',
       'kms_driven', 'transmission', 'ownership', 'manufacture', 'engine',
       'Seats', 'Cng', 'Diesel', 'Electric', 'Lpg'],
      dtype='object')

In [4]:
x=df.drop("car_prices_in_rupee",axis=1)
y=df["car_prices_in_rupee"]

In [5]:
x.head()

,Audi,BMW,Bentley,Chevrolet,Datsun,Fiat,Force,Ford,Honda,Hyundai,...,kms_driven,transmission,ownership,manufacture,engine,Seats,Cng,Diesel,Electric,Lpg
0,0,0,0,0,0,0,0,0,0,0,...,86226.0,0,1,6.0,1956.0,5,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,13248.0,1,1,2.0,1330.0,5,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,60343.0,1,1,7.0,2494.0,5,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,26696.0,1,1,5.0,1199.0,5,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,69414.0,0,1,7.0,1199.0,5,0,0,0,0

In [6]:
print(y)

0       1003000.0
1       1283000.0
2       1640000.0
3        777000.0
4        515000.0
          ...
5374    2890000.0
5375    6490000.0
5376    1375000.0
5377    2990000.0
5378    3190000.0
Name: car_prices_in_rupee, Length: 5379, dtype: float64

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x, y)

# Linear Regression

In [8]:
lr=LinearRegression()
lr.fit(x_train,y_train)
lr_pred=lr.predict(x_test)

In [9]:
mean_absolute_error(lr_pred,y_test)

531730.3492333547

In [10]:
r2_score(lr_pred,y_test)

0.36167896426863033

# XGB

In [13]:
xgb=XGBRegressor()
xgb.fit(x_train,y_train)
xgb_pred=xgb.predict(x_test)

In [14]:
mean_absolute_error(xgb_pred,y_test)

277364.5122919813

In [15]:
r2_score(xgb_pred,y_test)

0.8624461320122728

# EXPORTING THE MODEL

In [16]:
pickle.dump(xgb,open("xgb_model.sav","wb"))